---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <input
    type="file"
    id="fileInput"
    accept=".glb"
    multiple="false"
    style="display: none;"
  />
  <main class="relative text-white">
    <div
      class="pointer-events-none"
      style="position:absolute;font-family:monospace;transform:translate(-50%, -50%);left:50%;top:10%;"
    >
      Mesh Slicer - click C and drag to cut , click V and mouse for
      OrbitControls , click T then click on Mesh use TransformControls
      <div class="-pt-2">
        MODE:<span id="mode" class="text-blue-600"></span>
        | <span
          id="reset-btn"
          class="text-blue-600 , hover:text-red-600 pointer-events-auto cursor-pointer"
        >
          RESET
        </span>
        | <span
          id="monkey"
          class="text-blue-600 , hover:text-blue-400 pointer-events-auto cursor-pointer"
        >
          LOAD MONKEY
        </span>
        | <span
          id="cube"
          class="text-blue-600 , hover:text-blue-400 pointer-events-auto cursor-pointer"
        >
          LOAD CUBE
        </span>
        | <span
          id="knot"
          class="text-blue-600 , hover:text-blue-400 pointer-events-auto cursor-pointer"
        >
          LOAD KNOT
        </span>
      </div>
    </div>

    <svg
      class="pointer-events-none"
      id="lineVisualizer"
      width="100%"
      height="100%"
      style="position:absolute"
    >
    </svg>
    <canvas class="100% ,100%" id="slicer_canvas"></canvas>
  </main>
</Layout>

<script src="../main"></script>

<style>
  #lineVisualizer {
    /* pointer-events: none; */
  }
  body {
    background: linear-gradient(#e4e0ba, #f7d9aa);
    margin: 0px;
  }
</style>
